
.container{
    margin-right: 550px;
}
.panel-heading{
    text-align: center;
    margin-bottom:10px ;
}
.arreglo{
    
    padding:5px;
    width: 500px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid white;
    
}

#forget {
    min-width:100px;
    margin-left:auto ;
    text-decoration: none;
    cursor:pointer;    
   
}

a:hover{
    text-decoration: none;
}
.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
   
}
.btn{
    margin-top: 30px;
    border-radius: 15px;
    

}

.panel{
    min-height: 380px;
    box-shadow: 10px 0 5px -2px #faf5f5;
    border-radius: 12px;
    margin-top: 100px;
}
.form-floating{
    border-radius: 20px;
    padding:7px;
    display: flex;
    align-items: center;
    cursor: pointer;
   
    
}


.form-floating.error{
     border: 1px solid red;
     color: red;
    
}

.input[type='text'],
.input[type='password']{
    border:none;
    outline:none;
    box-shadow:none;
    width: 100%;
    }

.fa-eye-slash.btn{
     border: none;
     outline:none;
     box-shadow:none;

}
img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert:after{
    content:"on connect with";
    position: absolute;
    top:-13px;
    left:33%;
    background-color: aliceblue;
    padding: 0 8px;
}