<div class="outer">

    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Ingreso Usuarios</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form >
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="Ingrese su número de documento">
                                <label for="floatingInput">Número de documento</label>
                                <span class="fa fa-lock p-2"></span>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="Ingrese su contraseña">
                                <label for="floatingInput">Contraseña</label>
                                <span class="fa fa-lock p-2"></span>
                                <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                              </div>
                        
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Inicio</button>

                            <div class="form-inline fr mt-4">
                                <a href="forget" class="font-weight-bold">¿Olvidó su contraseña?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>